dotenv_if_exists .env
dotenv_if_exists ~/.config/direnv/env/vault-app-role.env

# Needed for lsp features, even when "lsp" is configured in opencode.json
export OPENCODE_EXPERIMENTAL_LSP_TOOL=true
# Code mode puts MCP tools into a js sandbox, if their definitions exceed a given threshold
export OPENCODE_EXPERIMENTAL_CODE_MODE=true
export OPENCODE_EXPERIMENTAL_BACKGROUND_SUBAGENTS=true
